body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

/* HEADER */

    header {
        display: flex;
        box-shadow: 0px 0px 8px rgba(0,0,0,.6);
        z-index: 2;
        position: relative;
        flex-direction: column;
        background-color: white;
    }

    #logolink {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #logoheader {
        max-width: 250px;
        margin: 20px;
    }

   #location {
    background-color: #eaeaea;
    display: flex;
    height: 75px;
    box-shadow: 16px 16px 16px #0000002e;
   }

   .fa-location-dot {
    margin: auto 0 auto auto;
   }

   #locationtext {
    margin: auto auto auto 15px;
    font-size: 20px;
   }

/* Intro du site */

   #search {
    background-color: rgb(247, 246, 246);
    height: 400px;
    text-align: center;
    padding: 30px;
   }

   h1 {
    font-size: 35px;
    font-weight: 600;
    padding-top: 50px;
    margin-top: 0px;
   }

   #descriptionh1 {
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 70px;
   }


   .btn--purple {
    padding: 25px;
    border-radius: 40px;
    color: white;
    background: linear-gradient(to bottom right, #eb6ed7, #a054d8);
    font-size: 20px;
    text-decoration: none;
    box-shadow: 6px 6px 6px #0000002d;
   }

/* Fonctionnement */

   #instructions {
    padding: 30px;
   }

   h2 {
    font-size: 35px;
    margin-bottom: 35px;
   }

   .step {
    margin-bottom: 30px;
   }

   .step-number {
    background-color: #944fd8;
    width: 25px;
    padding: 3px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    color: white;
    position: absolute;
    left: -15px;
    z-index: 2;
   }

   .step-content {
    display: flex;
    background-color: rgb(247, 246, 246);
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0px 6px 10px 6px #0000001f;
    font-size: 22px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    margin-left: 15px;
   }

   .step-true {
    background-color: rgb(246, 236, 254);
   }

   .ico-step {
    margin: auto 30px auto 15px;
    color: rgb(126, 126, 126);
    font-size: 30px;
   }

   .ico-step-true {
    color: #944fd8;
   }

/* Restaurants */   

   #restaurants {
    padding: 30px;
   }

   .bloc-restau {
    height: 334px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0 0 16px #0000002e;
    flex: 1;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    text-decoration: none;
   }

   .new {
    background-color: #9ae2d1;
    color: rgb(1, 136, 104);
    height: 35px;
    width: 100px;
    border-radius: 3px;
    text-align: center;
    left: auto;
    position: relative;
    z-index: 2;
   }

   a {
    text-decoration: none;
   }

    a:visited {
    text-decoration: none;
    }

    .image-block {
        height: 250px;
        overflow: hidden;
        position: relative;
        bottom: 55px;
    }

    .image-restau {
        object-fit: cover;
        width: 100%;
    }

    .infos-restau {
        position: relative;
        bottom: 55px;
        margin-left: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 30px;
    }

    .not-new {
        max-height: 300px;
        position: relative;
        bottom: 0px;
    }

    h3 {
        margin-bottom: 0px;
    }

    .loca-restau {
        margin-top: 5px;
    }

    .fa-heart {
        font-size: 30px;
    }

/* FOOTER */

    footer {
        background-color: rgb(53, 53, 53);
        color: white;
        padding: 30px;
    }

    #logo-footer {
        filter: invert(100%);
        height: 20px;
        margin-bottom: 10px;
    }

    .recruitment {
        display: flex;
    }

    .footer-txt {
        margin: 0px;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .recruitment-icon {
        margin: auto 10px auto 0;
    }

/* MENUS */

    .restau-head {
        max-height: 500px;
    }

    .image-menu {
        z-index: 1;
    }

    .menu-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: Shrikhand;
        position: relative;
        bottom: 35px;
        font-size: 40px;
    }

    #menu {
        border-radius: 30px 30px 0 0;
        position: relative;
        bottom: 70px;
        z-index: 2;
        background-color: #eaeaea;
        padding: 30px;
        text-align: center;
    }

    .menu-content {
        background-color: white;
        border-radius: 30px;
        padding: 5px 20px 20px 20px;
        height: 80px;
        margin-bottom: 20px;
        box-shadow: 1px 1px 10px 6px #8383832d;
        text-align: left;
    }

    .section-title {
        font-size: 22px;
        font-weight: 100;
        border-bottom: solid;
        border-width: 4px;
        border-bottom-color: #9ae2d1;
        width: 50px;
        padding-bottom: 10px;
    }

    .entree {
        position: relative;
        bottom: 40px;
    }

    .plate-name {
        font-size: 22px;
        font-weight: 500;  
        margin-bottom: 0px;   
    }

    .plate-undername {
        font-size: 20px;
        font-weight: 300;
        margin-top: 10px;
        text-overflow: ellipsis;
    }

    .price {
        font-size: 22px;
        font-weight: 500;
        margin-left: 90%;
        position: relative;
        bottom: 45px;
        word-wrap: inherit;
    }

    .order-btn {
        padding: 25px 60px 25px 60px;
        position: relative;
        top: 40px;
    }

    .bg {
        background-color: #eaeaea;
    }

/* MODIFS TABLETTE */

    @media all and (min-width: 982px) {

        #restaurants {
            display: flex;
            flex-wrap: wrap;
        }

        #section-title {
            width: 100%;
        }

        .bloc-restau {
            min-width: 400px;
            max-width: 700px;
            margin: 30px;
        }
    }